# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Coverage
coverage/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Drizzle
drizzle/meta/

# TypeScript
*.tsbuildinfo

#
generated-docs/
*.afdesign~lock~
*.afphoto~lock~
